--swiftversion 6.0

--exclude Pods

--rules andOperator
--rules anyObjectProtocol

--rules blankLinesBetweenScopes
--rules blankLineAfterImports
--rules braces
--rules conditionalAssignment
--rules consecutiveSpaces
--rules consistentSwitchCaseSpacing
--rules duplicateImports
--rules elseOnSameLine
--rules genericExtensions

--rules hoistAwait
--rules hoistTry

--rules indent
  --indent 4
  --indentcase false
  --indentstrings true
  --ifdef outdent

--rules leadingDelimiters
--rules linebreakAtEndOfFile

--rules redundantBreak
--rules redundantClosure
--rules redundantFileprivate
--rules redundantGet
--rules redundantInit
--rules redundantLet
--rules redundantLetError
--rules redundantOptionalBinding
--rules redundantParens
--rules redundantPattern
--rules redundantReturn
--rules redundantTypedThrows
--rules redundantVoidReturnType
--rules semicolons

--rules spaceAroundBraces
--rules spaceAroundBrackets
--rules spaceAroundGenerics
--rules spaceAroundOperators
--rules spaceAroundParens

--rules spaceInsideBraces
--rules spaceInsideBrackets
--rules spaceInsideComments
--rules spaceInsideGenerics
--rules spaceInsideParens

--rules strongifiedSelf
--rules todos
--rules trailingClosures
--rules trailingCommas
--rules trailingSpace
--rules typeSugar
--rules void

--rules wrapArguments
  --wraparguments before-first
  --wrapcollections before-first
  --wrapparameters before-first
  --closingparen balanced

--rules wrapMultilineStatementBraces
