--swiftversion 5.7

--exclude Pods

--rules andOperator
--rules anyObjectProtocol

--rules blankLineAfterImports
--rules braces
--rules duplicateImports
--rules elseOnSameLine
--rules genericExtensions

--rules indent
  --indent 4
  --indentcase false
  --indentstrings true
  --ifdef outdent

--rules leadingDelimiters
--rules linebreakAtEndOfFile

--rules redundantFileprivate
--rules redundantGet
--rules redundantInit
--rules redundantOptionalBinding
--rules redundantParens
--rules redundantVoidReturnType
--rules semicolons

--rules spaceAroundBraces
--rules spaceAroundBrackets
--rules spaceAroundGenerics
--rules spaceAroundOperators
--rules spaceAroundParens

--rules spaceInsideBraces
--rules spaceInsideBrackets
--rules spaceInsideComments
--rules spaceInsideGenerics
--rules spaceInsideParens

--rules strongifiedSelf
--rules todos
--rules trailingCommas
--rules trailingSpace
--rules typeSugar
--rules void

--rules wrapArguments
  --wraparguments before-first
  --wrapcollections before-first
  --wrapparameters before-first

--rules wrapMultilineStatementBraces
